#header{
    min-height: 86vh;
}
.heading{
    font-size: 3.4rem;
}
.btn-get-started:hover{
    background-color: rgb(10, 9, 9) !important;
    border: 1px solid rgb(0, 0, 0);
}
.header-img{
    width: 35rem;
}
.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}