
.navbar{

}

.navbar-brand{
    font-size: 2.4rem !important;
}
.nav-link{
    text-transform: capitalize;
    font-size: 2rem;
}
.nav-link:active{
    color: rgba(36, 128, 248, 0.932) !important;
}
.nav-link.active{
    border-bottom: 2px solid rgba(0,0,0,.9);
}

