*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.screen{
    min-height: 86vh;
}

/* utillity classes */
.fs-7{
    font-size: 2.2rem !important;
}
.fs-8{
    font-size: 2.4rem !important;
}
.fs-9{
    font-size: 2.6rem !important;
}
.fs-10{
    font-size: 3rem !important;
}

/* border radius */

.br-1{
    border-radius: 1rem !important;
}
.br-2{
    border-radius: 2rem !important;
}
.br-3{
    border-radius: 3rem !important;
}
.br-4{
    border-radius: 4rem !important;
}